.dashboard-nav.section
  .container
    %h2 My Collections
    .add
      %i+
#dashboard.section
  .filters.container

  .items-container.container
    %ul.items
      -if @items.length > 0
        -@items.each do |item|
          %li{id: item.id}
            .item
              %img{src: item.image.url}
              %p= item.title
              %button.delete{id: item.id} Delete
#modal
  .modal-content
    .close
      %p.close-modal &#10005;
    .form.new
      %h3.title Add New Item
      .span12
        .body
          .downloaded-images.hidden
            .content
              %img(id="uploadedImage" src="#" alt="your image")
          .main-form
            =form_for Item.new, html: {id: 'new-item', :multipart => true}, :remote => true do |f|
              .upload
                %p +
              = f.file_field :image, id: 'image'
              = f.hidden_field :image_cache

              =f.text_field :title, placeholder:'title', id: 'title'


              =f.text_field :description, placeholder:'description', id: 'description'


              =f.date_field :purchase_date, placeholder:'purchase date', class: 'purchase-date'


              =f.number_field :purchase_price, placeholder:'purchase price', class: 'purchase-price'


              =f.number_field :estimated_value, placeholder:'estimated value', class: 'estimated-value'


              =f.submit "Create", class: 'submit-button'




:javascript

  $(function () {
    imageChange();

    function imageChange () {
      $("#image").change(function(){
        readURL(this);
      });
    };

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('.downloaded-images').removeClass('hidden');
          $('#uploadedImage')
            .attr('src', e.target.result)
            .width(150)
        };

        reader.readAsDataURL(input.files[0])
      }
    }

    //event handlers

    $('.add').on('click', function () {
      $('#modal-overlay').toggle();
      $('#modal').slideToggle();
      imageChange();
    });

    $(document).on('click', '.delete', function() {
       var id = this.id;

      $.ajax({
        type: 'DELETE',
        url: '/items/:id',
        data: { item: {id: id}}
      }).done(function( data ) {
         $('li#' + id).remove();
        });
    });

    $('.close-modal').on('click', function () {
      closeModal();
    });

    $('form#new-item').bind('ajax:complete', function(evt, xhr) {
      if (xhr.status == '200') {
        closeModal();
        var data = JSON.parse(xhr.responseText)
        var html = "<li id=" + data.id + "><div class='item'><img src=" + data.image.url + "><p>" + data.title + "</p><button class='delete' id=" + data.id + ">Delete</button></div></li>";
        $('ul.items').append(html);
      } else {
        alert('your item could not be created')
      }
    });
  });

  var closeModal = function closeModal () {
    $('#modal').toggle();
    $('#modal-overlay').toggle('slow');
    $('#new-item').find('input:text').val('');
    $('input[type="file"]').val(null);
    $('#uploadedImage').attr('src', '')
    $('#image').val('');
  }



