.navbar {
  background-color: $dark-blue !important;
}
.dashboard-nav {
  height: 110px;
  margin-top: 65px;
  background-color: $dark-blue;

  .container {
    padding-top: 30px;
  }

  h2 {
    color: white;
    font-weight: 300;
  }

  .add {
    i {
      color: white;
      font-size: 2em;
      position: relative;
      left: 15px;
      top: 3px;
    }
    background-color: $pink2;
    @include border-radius(50%);
    @include drop-shadow( 0px 2px 7px rgba(0,0,0,0.25));
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 50px;
    margin-top: 13px;
  }

  .add:hover {
    cursor: pointer;
    background-color: $pink4;
    @include transition(background-color .2s ease-in-out);
  }
}

#dashboard {
  .filters {
    height: 200px;
  }

  ul.items {
    @include container(960px);
    padding-right: 20px;
    padding-left: 20px;

    li {
      width: 100%;
      border-bottom: 1px solid $light-grey;
      height: 100px;
      z-index: -1;

      p {
        color: $dark-grey;
        display: inline-block;
        float: left;
        position: relative;
        top: 20px;
      }

      .delete {
        display: inline-block;
        float: right;
        vertical-align: middle;
        position: relative;
        top: 30px;
      }

      img {
        width: 100px;
      }
    }
  }

  .form.new {
    h3.title {
      border-bottom: 1px solid $light-grey;
    }
  }
}
