#login {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: $dark-grey;
    min-width: 100%;
    min-height: 100%;
  }
  .content {
    @include center-block;
    @include border-radius(3px);
    width: 600px;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: $white;

    .outter-form {
      padding: 80px 100px 60px;

      .header {
        margin-bottom: 60px;
        .circle-outter {
          @include center-block;
          @include border-radius(50%);
          width: 100px;
          height: 100px;
          background-color: $pink;
          .circle-inner {
            @include center-block;
            @include border-radius(50%);
            width: 80px;
            height: 80px;
            background-color: #ea334c;
            .circle-inner-inner {
              @include center-block;
              @include border-radius(50%);
              width: 60px;
              height: 60px;
              background-color: #f91f3e;
            }
          }
        }
      }

      .inner-form {
        h5.login-title {
          font-size: 23px;
          text-align: center;
          margin-bottom: 14px;

          span {
            color: $pink;
          }
        }

        p.small {
          text-align: center;
          font-size: 12px;
          text-transform: uppercase;
          margin-bottom: 30px;
          letter-spacing: .05em;
          color: $label;
        }

        .field {
          display: block;
          position: relative;
          height: 75px;
          margin-top: 40px;
          width: 100%;
          animation-duration: .3s;
          -webkit-animation-fill-mode: forwards;
        }
        label {
          position:absolute;
          bottom: 25px;
          left: 0;
          font-size: 18px;
          color: $medium-grey;
          letter-spacing: .05em;
          animation-duration: .3s;
          -webkit-animation-fill-mode: forwards;
        }

        @keyframes label {
          from {font-size: 18px;}
          to {font-size: 12px;
              text-transform: uppercase;
              color: $pink;
              bottom: 60px;}
        }

        @keyframes resetLabel {
          from {font-size: 12px;
                color: $pink;
                bottom: 60px}
          to {font-size: 18px;
            text-transform: lowercase;
            color: $label;
            bottom: 25px;}
        }

        input.name, input.email, input.password {
          position: absolute;
          bottom: -50px;
          border: none;
          margin-bottom: 50px;
          -webkit-appearance:none;
          background-color: transparent;
          font-weight: 400;
          font-size: 18px;
          color: $dark-grey;
          width: 100%;
          height: 26px;
          padding: 1px 0 20px;
          border-bottom: 1px solid $light-grey;
          box-shadow: none;
          animation-duration: .3s;
          -webkit-animation-fill-mode: forwards;
        }

        @keyframes input {
          from {border-bottom: 1px solid $light-grey; }
          to {border-bottom: 1px solid $pink;}
        }


        @keyframes resetInput {
          from {border-bottom: 1px solid $pink; }
          to {border-bottom: 1px solid $light-grey;}
        }


        @keyframes filledInLabel {
          from {font-size: 12px;
                text-transform: uppercase;
                color: $pink;
                bottom: 60px;}
          to {font-size: 12px;
              text-transform: uppercase;
              color: $medium-grey;
              bottom: 60px;}
          }

        @keyframes initialFilledInLabel {
          from {font-size: 18px;}
          to {font-size: 12px;
            text-transform: uppercase;
            color: $medium-grey;
            bottom: 60px;}
        }

        @keyframes resetFilledInLabel {
          from {font-size: 12px;
            text-transform: uppercase;
            color: $medium-grey;
            bottom: 60px;}
          to {font-size: 18px;
            text-transform: lowercase;
            color: $label;
            bottom: 25px;}
        }

        input:focus {
          outline: none;
        }

        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 1000px white inset;
        }

        .error {
          position: relative;
          top: 72px;
          font-size: 13px;
          color: red;
          padding-top: 5px;
        }

        .inputError {
          border-bottom: 3px solid red;
        }

        .field.submit {
          margin-bottom: 50px;
          input.submit {
            @include border-radius(3px);
            width: 100%;
            background-color: $pink;
            color: white;
            text-transform: uppercase;
            padding: 20px;
            font-size: 12px;
            margin-bottom: 20px;
            margin-top: 40px;
            font-weight: $bold;
            border: 0;
          }

          p.terms-of-service {

            font-size: 12px;
            text-align: center;
            color: gray;

            a {
              color: $blue;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
