.navbar {
  background-color: $dark-blue;
  z-index: 3000;

  .nav-link {
    display: none;
  }

  @include bp-small {
    background-color: $dark-blue !important;
    padding-bottom: 15px;
  }

  @include bp-medium {
    background-color: $dark-blue !important;
    padding-bottom: 15px;
  }

  .header-container {
    @include bp-small {
      padding: 20px;
      background-color: $dark-blue;
    }
  }

  .header-container {
    @include bp-medium {
      padding: 20px;
      background-color: $dark-blue;
    }
  }
}

.login, .welcome-login{
  .white-square-content {
    .outter {
      padding-bottom: 20px;
      .inner {
        p.small {
          text-align: center;
          font-size: 12px;
          text-transform: uppercase;
          margin-bottom: 30px;
          letter-spacing: .05em;
          color: $label;
        }

        .field {
          display: block;
          position: relative;
          height: 75px;
          margin-top: 20px;
          width: 100%;
          animation-duration: .3s;
          -webkit-animation-fill-mode: forwards;
        }

        .field.remember {
          margin-top: 0;
        }

        label {
          position:absolute;
          bottom: 25px;
          left: 0;
          font-size: 18px;
          color: $medium-grey;
          letter-spacing: .05em;
          animation-duration: .3s;
          -webkit-animation-fill-mode: forwards;
        }

        @keyframes label {
          from {font-size: 18px;}
          to {font-size: 12px;
              text-transform: uppercase;
              color: $pink2;
              bottom: 60px;}
        }

        @keyframes resetLabel {
          from {font-size: 12px;
                color: $pink2;
                bottom: 60px}
          to {font-size: 18px;
            text-transform: lowercase;
            color: $label;
            bottom: 25px;}
        }

        input.email, input.password {
          position: absolute;
          bottom: -50px;
          border: none;
          margin-bottom: 50px;
          -webkit-appearance:none;
          background-color: transparent;
          font-weight: 400;
          font-size: 18px;
          color: $dark-grey;
          width: 100%;
          height: 26px;
          padding: 1px 0 20px;
          border-bottom: 1px solid $light-grey;
          box-shadow: none;
          animation-duration: .3s;
          -webkit-animation-fill-mode: forwards;
        }

        @keyframes input {
          from {border-bottom: 1px solid $light-grey; }
          to {border-bottom: 1px solid $pink2;}
        }


        @keyframes resetInput {
          from {border-bottom: 1px solid $pink2; }
          to {border-bottom: 1px solid $light-grey;}
        }


        @keyframes filledInLabel {
          from {font-size: 12px;
                text-transform: uppercase;
                color: $pink2;
                bottom: 60px;}
          to {font-size: 12px;
              text-transform: uppercase;
              color: $medium-grey;
              bottom: 60px;}
          }

        @keyframes initialFilledInLabel {
          from {font-size: 18px;}
          to {font-size: 12px;
            text-transform: uppercase;
            color: $medium-grey;
            bottom: 60px;}
        }

        @keyframes resetFilledInLabel {
          from {font-size: 12px;
            text-transform: uppercase;
            color: $medium-grey;
            bottom: 60px;}
          to {font-size: 18px;
            text-transform: lowercase;
            color: $label;
            bottom: 25px;}
        }

        input:focus {
          outline: none;
        }

        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 1000px white inset;
        }

        .error {
          position: relative;
          top: 72px;
          font-size: 13px;
          color: $error;
          padding-top: 5px;
        }

        .inputError {
          border-bottom: 3px solid $error;
        }

        .field.submit{
          margin-bottom: 50px;
        }
      }
    }
  }

  p.small-text {
    padding-top: 0;
    margin-top: -10px;
    font-size: 13px;
    text-align: center;
    color: gray;
    line-height: 20px;

    a {
      color: $blue1;
      text-decoration: none;
    }
  }

  .login-link {
    @include center-block();
    margin-top: -120px;
    margin-bottom: 120px;

    p.small-text {
      text-align: center;
      color:  $light-grey;

      @include bp-medium {
        color: $medium-grey;
      }

      a {
        color: $pink2;
        font-weight: $bold;
      }
    }

    @include bp-medium {
      margin-top: -100px;
    }
  }
}
