.navbar {
  position: fixed;
  z-index: 1000;
  background-color: transparent;
}

#welcome {
  height: 2000px;

  h1 {
    color: white;
    font-weight: $lighter;
    max-width: 700px;
    text-align: center;
  }

  h2 {
    color: white;
    max-width: 400px;
    display: table-cell;
    vertical-align: middle;
  }

  .container {
    height: 600px;
    display: table;
  }

  .third, .fifth {
    .container {
      height: 500px;
    }
  }

  .first {
    position: fixed;
    background-color: $dark-blue;

    width:100%;
    height: 2000px;

    h1 {
      padding-top: 250px;
    }

    .pink-outline-button.static {
      position: static;
      font-size: 22px;
      margin-top: 30px;
      width: 300px;
    }
  }

  .second {
    margin-top: 700px;
    background-color: $blue2;
    z-index: 1000;
    @include background-gradient($blue2, $dark-blue);
    -webkit-transform: rotate(50deg);
    @include transition( all 1s ease);
  }

  .third {
    background-color: $aqua2;
    z-index: 2000;
    @include background-gradient($blue2, $dark-blue);
    -webkit-transform: rotate(-15deg);
    @include transition( all 1s ease);
  }

  .forth {
    background-color: $pink2;
    z-index: 3000;
    @include background-gradient($blue2, $dark-blue);
    -webkit-transform: rotate(-20deg);
    @include transition( all 1s ease);

  }
}

.welcome-login {
  .content {
    background-color: transparent;
    margin-top: 0;

    .inner-form {
      h5.login-title {
        color: $light-grey;
      }
    }

    input {
      color: white !important
    }
  }

  p.small-text {
    padding-top: 0px;
  }

  .welcome-login-link {
    margin-top: 0px;

    p.small-text {
      text-align: center;
      color:  $light-grey;
      a {
        color: $pink2;
        font-weight: $bold;
      }
    }
  }
}

