.navbar {
  position: fixed;
  z-index: 1000;
  background-color: transparent;
}

#welcome {
  height: 2000px;

  h1 {
    color: white;
    font-weight: $lighter;
    max-width: 700px;
    text-align: center;
  }

  .first {
    position: fixed;
    background-color: $dark-blue;
    width:100%;
    height: 2000px;

    h1 {
      padding-top: 250px;
    }
  }

  .second, .third, .forth{
    opacity: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .second {
    margin-top: 600px;
    background-color: $pink;
  }

  .third {
    margin-top: 300px;
    background-color: $blue;
  }

  .forth {
    margin-top: 300px;
  }
}

.welcome-login {
  margin-top: 300px;

  .content {
    background-color: transparent;
    margin-top: 0;

    .inner-form {
      h5.login-title {
        color: $light-grey;
      }
    }

    input {
      color: white !important
    }
  }

  p.small-text {
    padding-top: 0px;
  }

  .welcome-login-link {
    margin-top: 0px;

    p.small-text {
      text-align: center;
      color:  $light-grey;
      a {
        color: $pink;
        font-weight: $bold;
      }
    }
  }
}

