@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

//sample usage
//@include bp-small {
//  width: 100%;
//  float: none;
//  margin: 0;
//}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin background-gradient($blue2, $blue4) {
  background: -webkit-linear-gradient($blue2, $blue4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($blue2, $blue4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($blue2, $blue4); /* For Firefox 3.6 to 15 */
  background: linear-gradient($blue2, $blue4); /* Standard syntax */
}

@mixin drop-shadow($val1) {
  -webkit-box-shadow: $val1;
  -moz-box-shadow: $val1;
  box-shadow: $val1;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
//requires width or max-width to be set

@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}
//example
//.abs {
//  @include abs-pos(10px, 10px, 5px, 15px);
//}


//horizontal nav list
//@mixin navigation-list {
//  list-style-type:none;
//  padding:0;
//  margin:0;
//  overflow:hidden;
//  > li{
//    display:block;
//    float:left;
//    &:last-child{
//      margin-right:0px;
//    }
//  }
//}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}


@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

// example
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//usage
//a {
//  color: gray;
//  @include transition(color .3s ease);
//  &:hover {
//    color: black;
//  }
//}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

//example
//.faded-text {
//  @include opacity(0.8);
//}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//example
//.container-with-floated-children {
//  @extend %clearfix;
//}
