$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

//colors
$white: #fff;
$dark-grey: #323a45;
$medium-grey: #7e8890;
$light-grey: #dadee6;
$label: #a4a5b6;

$error: #dd2b00;
$dark-blue:  #1f2532;
$background-white: #fff;

//font-weight
$regular: 400;
$lighter: 300;
$bold: 600;

$blue1: #7B81F5;
$blue2: #7B81F5;
$blue3: #5F65DF;
$blue4: #484DB6;

$pink1: #C76EF4;
$pink2: #AD50DC;
$pink3: #9C44C9;
$pink4: #883AB0;

$aqua1: #66F2DB;
$aqua2: #47D9C1;
$aqua3: #3BC4AD;
$aqua4: #31A894;

