$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

//colors
$white: #fff;
$dark-grey: #323a45;
$grey4: #54617A;
$medium-grey: #93979F;
$light-grey: #BDBFC2;
$label: #a4a5b6;
$white-smoke: #f3f3f3;
$form-outline: #d6d6d6;

$error: #dd2b00;
$dark-blue:  #1f2532;
$background-white: #fff;

//font-weight
$regular: 400;
$lighter: 300;
$bold: 600;

$blue1: #7B81F5;
$blue2: #7B81F5;
$blue3: #5F65DF;
$blue4: #484DB6;

$pink1: #FC5240;
$pink2: #f4220a;
$pink3: #BE1402;
$pink4: #950E00;

$aqua1: #4BA0B0;
$aqua2: #0A8096;
$aqua3: #046375;
$aqua4: #024E5C;

$orange1: #FC9C40;
$orange2: #F47C0A;
$orange3: #BE5E02;
$orange4: #954900;

$green4: #007119;
$green3: #028F21;
$green2: #08B82F;
$green1: #55CD6F;


//74F0o0knACpamRuhRI+upzy-wpH
//7040u0kuHuCiMBlnTvBvDnPBtiJ

