$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

//colors
$white: #fff;
$dark-grey: #323a45;
$medium-grey: #7e8890;
$light-grey: #dadee6;
$label: #a4a5b6;
$pink: #ff3366;
$pink-hover: #e70a41;
$blue: #4aa4ee;
$error: #dd2b00;
$dark-blue:  #1f2532;
$background-white: #f9f9fb;

//font-weight
$regular: 400;
$lighter: 300;
$bold: 600;