.pink-button {
  @include border-radius(3px);
  width: 100%;
  background-color: $pink;
  color: white;
  padding: 20px;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 40px;
  font-weight: $bold;
  border: 0;
  @include transition (background-color .2s);
}

.pink-button:hover {
  background-color: $pink-hover
}

.delete {
  @extend .pink-button;
  background-color: $green;
  width: 100px;
  padding: 10px;
  margin: 0;
}

.delete:hover {
  background-color: $green-hover;
}

.white-outline-button {
  padding: 7px;
  border: 1px solid white;
  @include border-radius(3px);
  @include transition (all .2s);
}

.white-outline-button:hover {
  color: $pink;
  border: 1px solid $pink;
}