.pink-button {
  @include border-radius(3px);
  width: 100%;
  background-color: $pink2;
  color: white;
  padding: 20px;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 40px;
  font-weight: $bold;
  border: 0;
  @include transition (background-color .2s);
}

.pink-button:hover {
  background-color: $pink4;
}

.delete {
  @extend .pink-button;
  background-color: $aqua2;
  width: 100px;
  padding: 10px;
  margin: 0;
}

.delete:hover {
  background-color: $aqua4;
}

.outline-button {
  padding: 7px;
  border: 1px solid white;
  position: relative;
  top: -5px;
  background-color: transparent;
  @include border-radius(3px);
  @include transition (all .2s);

  a {
    color: $white;
    @include transition (all .2s);
  }
}

.outline-button:hover {
  color: $white;
  background-color: $pink2;
  position: relative;
  top: -5px;
  border: 1px solid $pink2;

  a {
    color: $white;
    @include transition (all .2s);
  }
}

.blue-outline-button {
  @extend .outline-button;
  color: $blue2;
  border: 1px solid $blue2;

  a {
    color: $blue2;
  }
}

.blue-outline-button:hover {
  @extend .outline-button;
  color: $white;
  background-color: $blue2;
  border: 1px solid $blue2;
}


.pink-outline-button {
  @extend .outline-button;
  color: $pink2;
  border: 1px solid $pink2;

  a {
    color: $pink2;
  }
}

.pink-outline-button:hover {
  @extend .outline-button;
  color: $white;
  background-color: $pink2;
  border: 1px solid $pink2;
}